.app-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 8px 8px;
    position: sticky;
    top: 0;
    background-color: rgba(99, 99, 99, 0.356);

    .MuiTypography-root {
        min-width: 100px;
    }
}

#account-menu .MuiMenuItem-root a{
    padding: 0 8px;
}